p:last-child,
li:last-child {
  margin-bottom: 0 !important; }

html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  padding: 0;
  margin: 0;
  line-height: 1; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

p {
  margin-top: 0;
  font-weight: normal;
  margin-top: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

form {
  padding: 0;
  margin: 0; }

input[type="text"] {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  background: transparent; }

input[type="submit"] {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

li {
  padding: 0;
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-size: 14px;
  color: #333;
  background-color: #fff; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  text-decoration: none; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.group:after, .contain:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }

.embed-responsive::before {
  display: block;
  content: ""; }

.embed-responsive-21by9::before {
  padding-top: 42.857143%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.embed-responsive iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.swiper-button-disabled {
  opacity: 0 !important; }

.swiper-button:focus {
  outline: none; }

.row0,
.row5,
.row10,
.row12,
.row14,
.row15,
.row20,
.row25,
.row28,
.row30,
.row35,
.row40,
.row45,
.row50,
.row62 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.row5 {
  margin: 0 -5px; }
  .row5 > div {
    padding: 0 5px; }

.row10 {
  margin: 0 -10px; }
  .row10 > div {
    padding: 0 10px; }

.row12 {
  margin: 0 -12px; }
  .row12 > div {
    padding: 0 12px; }

.row14 {
  margin: 0 -14px; }
  .row14 > div {
    padding: 0 14px; }

.row15 {
  margin: 0 -15px; }
  .row15 > div {
    padding: 0 15px; }

.row20 {
  margin: 0 -20px; }
  .row20 > div {
    padding: 0 20px; }

.row25 {
  margin: 0 -25px; }
  .row25 > div {
    padding: 0 25px; }

.row28 {
  margin: 0 -28.5px; }
  .row28 > div {
    padding: 0 28.5px; }

.row30 {
  margin: 0 -30px; }
  .row30 > div {
    padding: 0 30px; }

.row35 {
  margin: 0 -35px; }
  .row35 > div {
    padding: 0 35px; }

.row40 {
  margin: 0 -40px; }
  .row40 > div {
    padding: 0 40px; }

.row45 {
  margin: 0 -45px; }
  .row45 > div {
    padding: 0 45px; }

.row50 {
  margin: 0 -50px; }
  .row50 > div {
    padding: 0 50px; }

.row62 {
  margin: 0 -62.5px; }
  .row62 > div {
    padding: 0 62.5px; }

.col-50 {
  width: 50%; }

.col-60 {
  width: 60%; }

.col-65 {
  width: 65%; }

.col-70 {
  width: 70%; }

.col-40 {
  width: 40%; }

.col-35 {
  width: 35%; }

.col-33 {
  width: 33.3333333%; }

.col-30 {
  width: 30%; }

.col-25 {
  width: 25%; }

.col-20 {
  width: 20%; }

.col-16 {
  width: 16.666666%; }

body {
  position: relative; }

body.active {
  background: url("../img/cont.jpg") no-repeat top 0px center; }

body.active .wrapper {
  opacity: 0.4; }

.eye-3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #ccc;
  z-index: 100;
  border-radius: 50%; }

.show-320,
.show-360,
.show-480,
.show-570,
.show-640,
.show-992,
.show-1050,
.show-1199,
.show-768,
.show-1299 {
  display: none; }

@media (max-width: 1299px) {
  .show-1299 {
    display: block; }
  .hide-1299 {
    display: none; } }

@media (max-width: 1199px) {
  .show-1199 {
    display: block; }
  .hide-1199 {
    display: none; } }

@media (max-width: 1050px) {
  .show-1050 {
    display: block; }
  .hide-1050 {
    display: none; } }

@media (max-width: 992px) {
  .hide-992 {
    display: none; }
  .show-992 {
    display: block; } }

@media (max-width: 768px) {
  .show-768 {
    display: block; }
  .hide-768 {
    display: none; } }

@media (max-width: 640px) {
  .hide-640 {
    display: none; }
  .show-640 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 570px) {
  .show-570 {
    display: block; }
  .hide-570 {
    display: none; } }

@media (max-width: 480px) {
  .show-480 {
    display: block; }
  .hide-480 {
    display: none; } }

@media (max-width: 360px) {
  .hide-360 {
    display: none; }
  .show-360 {
    display: block; } }

@media (max-width: 320px) {
  .hide-320 {
    display: none; }
  .show-320 {
    display: block; } }

.ml0 {
  margin-left: 0; }

.mr0 {
  margin-right: 0; }

.mr15 {
  margin-right: 15px; }

.ml10 {
  margin-left: 10px; }

.mt0 {
  margin-top: 0px; }

.mt5 {
  margin-top: 5px; }

.mt10 {
  margin-top: 10px; }

.mt15 {
  margin-top: 15px; }

.mt20 {
  margin-top: 20px; }

.mt25 {
  margin-top: 25px; }

.mt30 {
  margin-top: 30px; }

.mt35 {
  margin-top: 35px; }

.mt40 {
  margin-top: 40px; }

.mt45 {
  margin-top: 45px; }

.mt50 {
  margin-top: 50px; }

.mt55 {
  margin-top: 55px; }

.mt60 {
  margin-top: 60px; }

.mt65 {
  margin-top: 65px; }

.fww {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.ha {
  height: auto;
  overflow: visible; }

.top {
  position: relative;
  height: 50px;
  overflow: visible;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center; }

.top-mnu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center; }

.top-mnu li {
  margin-right: 15px; }

.form-1 {
  margin-top: 40px; }

.checkboxes {
  margin-top: 15px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.checkboxes label {
  margin-right: 15px; }

.checkbox-1 {
  display: none;
  position: relative; }

.checkbox-1 + span {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-left: 25px; }

.checkbox-1 + span:before {
  position: absolute;
  left: 0;
  top: 2px;
  width: 14px;
  height: 14px;
  border: 1px solid #ccc;
  content: "";
  display: block;
  margin-right: 5px; }

.checkbox-1:checked + span:after {
  position: absolute;
  left: 3px;
  top: 5px;
  width: 8px;
  height: 8px;
  border: 1px solid #ccc;
  background-color: red;
  content: "";
  display: block;
  margin-right: 5px; }

.checkbox-span-1 {
  display: inline-block;
  margin-left: 5px;
  color: #000; }

.radios {
  margin-top: 35px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.radios label {
  margin-right: 15px; }

.radio-1 {
  display: none; }

.radio-1 + span {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-left: 25px; }

.radio-1 + span:before {
  position: absolute;
  left: 0;
  top: 2px;
  width: 14px;
  height: 14px;
  border: 1px solid #ccc;
  border-radius: 50%;
  content: "";
  display: block;
  margin-right: 5px; }

.radio-1:checked + span:after {
  position: absolute;
  left: 3px;
  top: 5px;
  width: 8px;
  height: 8px;
  border: 1px solid #ccc;
  background-color: blue;
  border-radius: 50%;
  content: "";
  display: block;
  margin-right: 5px; }

.select-1-w {
  width: 150px;
  margin-top: 40px; }

div.fancy-select div.trigger:after {
  background: url("../img/arr-b.svg") no-repeat 0 0;
  background-position: center;
  border: none;
  width: 10px;
  height: 8px;
  right: 15px;
  top: calc(50% - 4px); }

input[type="text"] {
  border: 1px solid #dddddd;
  color: #666666;
  font-size: 16px;
  padding: 0 15px; }

input[type="text"].inputt {
  width: 100%;
  height: 48px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  padding-left: 19px;
  padding-right: 19px;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
  margin-top: 40px; }

#calc-distance, #calc-distance-2 {
  width: calc(100% - 18px); }

.s-input-lbl-wrap_1 #calc-distance {
  position: absolute;
  bottom: 0;
  left: 0; }

.ui-slider-horizontal .ui-slider-range {
  background-color: #494ecc;
  height: 3px;
  border: none; }

.ui-state-default, .ui-widget-content {
  outline: none;
  border: none; }

.ui-state-default .ui-state-default, .ui-widget-content .ui-state-default {
  width: 18px;
  height: 18px;
  background-color: #494ecc;
  border-radius: 50%;
  outline: none;
  border: none; }

.ui-slider-horizontal .ui-slider-handle {
  margin-left: 0;
  top: -0.5em; }

.ui-widget.ui-widget-content {
  border: none; }

.tabs_content_item {
  display: none;
  padding: 0;
  margin: 0; }

.tabs_content_item.active {
  display: block; }

.tabs-control {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.tabs-control li {
  margin-right: 25px; }

.tabs-control li a {
  display: block;
  padding: 15px 0;
  color: #999;
  border-bottom: 2px solid transparent; }

.tabs-control li.active a {
  border-bottom: 2px solid #000;
  color: #000; }

.tabs_content {
  margin-top: 35px; }

.tabs_content_item {
  line-height: 1.5; }

.accordion-item {
  margin-bottom: 15px; }

.accordion-content {
  display: none;
  padding: 10px 0; }

.accordion-header {
  font-weight: bold;
  cursor: pointer; }

.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 5;
  background-color: rgba(34, 34, 34, 0.3);
  display: none; }

.modal-overlay .modal-form__layout {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2; }

.modal-overlay .modal-form__block {
  position: absolute;
  top: 5%;
  margin-bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  z-index: 6;
  width: 937px;
  height: 561px;
  background: linear-gradient(180deg, #F08837 -3.57%, #CF854B 129.86%);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.zayavka {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center; }

.zayavka-1 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  margin-top: 30px; }

.zayavka-2 {
  margin-top: 25px;
  color: #5c2f1c;
  font-size: 16px;
  font-weight: 700;
  text-align: center; }

.pop-close {
  display: block;
  width: 24px;
  height: 23px;
  position: absolute;
  right: 59px;
  top: 59px;
  z-index: 7;
  background: url("../img/close-w.svg") no-repeat 0 0; }

.cols-pars.cols > div {
  min-height: 400px; }

.cols-pars.cols .col-grow {
  outline: 1px solid #ccc; }

.cols-pars.cols .col-fix {
  width: 240px;
  margin-left: 20px;
  outline: 1px solid #ccc; }

.rw > div {
  outline: 1px solid #ccc;
  padding: 15px; }

/*@font-face {
  font-family: "Aeonik";  
  src: url("../fonts/AeonikPro-Medium.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  }*/
/*@font-face {
  font-family: "Aeonik";
  font-display: swap;
  src: url("../fonts/Aeonik-Medium.woff") format("woff"),
  url("../fonts/Aeonik-Medium.ttf") format("truetype"),
  url("../fonts/Aeonik-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  }*/
@font-face {
  font-family: "Aeonik";
  font-display: swap;
  src: url("../fonts/AeonikPro-Medium.woff") format("woff"), url("../fonts/AeonikPro-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Aeonik";
  font-display: swap;
  src: url("../fonts/AeonikPro-Regular.woff") format("woff"), url("../fonts/AeonikPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Aeonik";
  font-display: swap;
  src: url("../fonts/AeonikPro-Light.woff") format("woff"), url("../fonts/AeonikPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Aeonik";
  font-display: swap;
  src: url("../fonts/AeonikPro-Thin.woff") format("woff"), url("../fonts/AeonikPro-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: "Aeonik";
  font-display: swap;
  src: url("../fonts/AeonikPro-Bold.woff") format("woff"), url("../fonts/AeonikPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Aeonik";
  font-display: swap;
  src: url("../fonts/AeonikPro-Black.woff") format("woff"), url("../fonts/AeonikPro-Black.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

button {
  border: none;
  outline: none; }

textarea:hover, textarea:active, textarea:focus {
  outline: none; }

body {
  font-family: "Aeonik";
  font-weight: 400;
  font-size: 10.7px;
  color: #221108;
  position: relative;
  min-height: 100vh; }

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }

.main {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.contain {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.lcpadding {
  padding-left: calc((100% - 1180px)/2); }
  @media only screen and (max-width: 1199px) {
    .lcpadding {
      padding-left: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .lcpadding {
      padding-left: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .lcpadding {
      padding-left: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .lcpadding {
      padding-left: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .lcpadding {
      padding-left: 15px; } }

.cpadding {
  padding-left: calc((100% - 1180px)/2);
  padding-right: calc((100% - 1180px)/2); }
  @media only screen and (max-width: 1199px) {
    .cpadding {
      padding-left: calc((100% - 970px)/2);
      padding-right: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .cpadding {
      padding-left: calc((100% - 750px)/2);
      padding-right: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .cpadding {
      padding-left: calc((100% - 600px)/2);
      padding-right: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .cpadding {
      padding-left: calc((100% - 530px)/2);
      padding-right: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .cpadding {
      padding-left: 15px;
      padding-right: 15px; } }

.rcpadding {
  padding-right: calc((100% - 1180px)/2); }
  @media only screen and (max-width: 1199px) {
    .rcpadding {
      padding-right: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .rcpadding {
      padding-right: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .rcpadding {
      padding-right: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .rcpadding {
      padding-right: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .rcpadding {
      padding-right: 15px; } }

.top-2 {
  padding-top: 40px;
  padding-bottom: 32px; }

.top-w {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.top-logo {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 187px;
  margin-top: -9px; }
  .top-logo img {
    width: 100%;
    height: auto;
    max-width: 100%; }

.top-inf {
  margin-left: 42px;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
      flex-grow: 1; }

.top-inf-row {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 43px;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
      flex-grow: 1; }

.top-inf-cont {
  background-image: url("../img/call.svg");
  background-repeat: no-repeat;
  background-position: left center;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 500;
  font-size: 25px;
  color: #221108;
  padding-left: 30px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px; }

.top-inf-mail {
  background-image: url("../img/sob.svg");
  background-repeat: no-repeat;
  background-position: left center;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 500;
  font-size: 24px;
  color: #221108;
  padding-left: 30px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 64px; }

.top-lng-w {
  margin-left: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .top-lng-w li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .top-lng-w li:not(:last-child):after {
      margin: 0 5px;
      content: "";
      display: block;
      width: 3px;
      height: 18px;
      background-color: #221108;
      margin-top: -5px; }

.top-lng {
  font-weight: bold;
  font-size: 24px;
  color: #221108; }
  .top-lng:hover {
    text-decoration: none;
    color: #219653; }
  .top-lng.act {
    color: #219653; }

.top-mn-row {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: -15px; }

.top-mn-ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .top-mn-ul li + li {
    margin-left: 48px; }
  .top-mn-ul li > a {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #221108;
    font-family: "Roboto", sans-serif; }

.sl {
  background-image: url("../img/sl-1.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 81px;
  padding-bottom: 25px;
  min-height: 700px;
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (max-width: 1199px) {
    .sl {
      padding-top: 0; } }
  .sl .contain {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

.sl-w {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.sl-h {
  font-weight: 700;
  font-size: 64px;
  color: white;
  opacity: 0.8;
  text-align: center;
  margin-bottom: 65px;
  font-family: "Roboto", sans-serif; }

.sl-btn-w {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.btn {
  background: #219653;
  box-shadow: rgba(4, 33, 17, 0.38) 0px 4px 4px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #f2f2f2;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 11px;
  transition: 0.5s;
  height: 87px;
  font-family: "Roboto", sans-serif; }
  .btn:hover {
    text-decoration: none;
    background: #95C239; }

.sl-btn {
  padding: 0 69px; }

.top-btn {
  font-size: 16px;
  letter-spacing: 0.02em;
  height: 68px;
  padding: 0 51px;
  margin-top: -5px; }

.sl-arr-w {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: auto; }

.sl-arr-d {
  background-image: url("../img/arr-sl.svg");
  background-repeat: no-repeat;
  background-position: left top;
  width: 50px;
  height: 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.ab {
  padding-top: 86px;
  padding-bottom: 172px;
  background: #FBFFFA; }

.h2-gr {
  font-weight: 700;
  color: #219653;
  font-family: "Roboto", sans-serif; }

h2 {
  font-size: 53px; }

.ab-inf {
  margin-top: 60px; }

.ab-inf-img-w {
  margin-bottom: 40px; }

.ab-inf-img {
  width: 100%; }

.our-prod {
  padding-top: 86px;
  padding-bottom: 40px; }

.our-prod-it-w {
  margin-top: 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.our-prod-it {
  display: block;
  width: 100%;
  margin-bottom: 61px; }
  .our-prod-it:hover {
    text-decoration: none; }

.our-prod-it-img-w {
  margin-bottom: 25px;
  border-radius: 16px;
  overflow: hidden; }

.our-prod-it-img {
  width: 100%; }

.our-prod-it-txt {
  font-size: 24px;
  letter-spacing: 0.02em;
  color: #221108;
  text-align: center;
  font-family: "Roboto", sans-serif; }

.prod {
  background: linear-gradient(0deg, #00180b, #00180b), #fbfffa;
  padding-top: 85px;
  padding-bottom: 113px;
  position: relative; }
  .prod:after {
    content: "";
    display: block;
    background: url("../img/trees-bg.png") no-repeat right bottom;
    width: 1376px;
    height: 360px;
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.07;
    z-index: 0; }

.prod-w {
  position: relative;
  z-index: 2; }

.h2-wh {
  font-weight: 700;
  color: #fbfffa;
  font-family: "Roboto", sans-serif; }

.prod-it-w {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 86px; }

.prod-it {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: calc(25% - 20px);
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.prod-img-w {
  background: rgba(42, 79, 58, 0.37);
  border: 2px solid #52b25d;
  box-sizing: border-box;
  border-radius: 20px;
  width: 100%;
  position: relative;
  width: 100%;
  height: 155.6px; }

.prod-img-1 {
  position: absolute;
  right: -15px; }

.prod-txt {
  margin-top: 31px;
  font-weight: 700;
  font-size: 27px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #fbfffa;
  line-height: 1.2;
  font-family: "Roboto", sans-serif; }

.prod-img-2 {
  position: absolute;
  right: -15px;
  top: -30px; }

.prod-img-3 {
  position: absolute;
  top: -30px;
  left: -25px; }

.prod-img-4 {
  position: absolute;
  right: 10px;
  bottom: -43px; }

.cert {
  padding-top: 84px;
  padding-bottom: 97px;
  background: #FBFFFA; }

.h2 {
  font-weight: 700;
  color: #221108;
  font-family: "Roboto", sans-serif; }

.cert-row {
  margin-top: 69px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 82px; }

.cert-it {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: drop-shadow(rgba(4, 33, 17, 0.15) 2px 11px 12px);
          filter: drop-shadow(rgba(4, 33, 17, 0.15) 2px 11px 12px);
  position: relative;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 345px;
  width: 270px;
  overflow: hidden;
  position: relative; }
  .cert-it:before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(33, 150, 83, 0.71), rgba(33, 150, 83, 0.71));
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    display: none; }
  .cert-it:after {
    content: "";
    display: none;
    background: url("../img/serch.svg") no-repeat center;
    width: 48.75px;
    height: 48px;
    z-index: 10;
    position: absolute; }
  .cert-it:hover:before, .cert-it:hover:after {
    display: block; }

.cert-btn-w {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.onl-app {
  background-image: url("../img/on-line-bg.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 67px;
  padding-bottom: 71px; }

.onl-app-w {
  width: 100%;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto; }

.onl-app-lbl {
  width: 100%;
  background: #fbfffa;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
  border-radius: 40px;
  padding: 77px 100px 75px; }

.onl-app-h {
  font-weight: 700;
  font-size: 48px;
  color: #219653;
  text-align: center;
  margin-bottom: 42px;
  font-family: "Roboto", sans-serif; }

.onl-app-form {
  margin-bottom: 34px;
  display: block;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.v-label-txt {
  display: block;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 20px;
  color: #221108;
  font-family: "Roboto", sans-serif; }

input[type="text"].onl-app-form-input-text {
  width: 100%;
  height: 66px;
  padding-left: 26px;
  padding-right: 26px;
  background: white;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #8F8F8F;
  font-family: "Roboto", sans-serif; }

.onl-app-form-input-textarea {
  width: 100%;
  height: 177px;
  padding-left: 26px;
  padding-right: 26px;
  background: white;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #8F8F8F;
  padding-top: 24px; }
  .onl-app-form-input-textarea:hover, .onl-app-form-input-textarea:active, .onl-app-form-input-textarea:focus {
    outline: none; }

.onl-app-btb-w {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 57px; }

.onl-app-btb {
  max-width: 405px;
  width: 100%;
  padding: 0 15px; }

.map {
  height: 600px;
  width: 100%; }

.foot-top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 28px 0 29px; }

.foot-logo {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 136px;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  margin-left: 11px; }
  @media (max-width: 1199px) {
    .foot-logo {
      margin-left: 0; } }
  .foot-logo img {
    width: 100%;
    max-width: 100%;
    height: auto; }

.foot-menu {
  margin-left: 106px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px; }

.foot-menu-col + .foot-menu-col {
  margin-left: 89px; }

.foot-menu-ul li {
  margin-bottom: 33px; }

.foot-menu-ul a {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #221108;
  font-family: "Roboto", sans-serif; }

.foot-cont {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-top: 15px; }

.foot-inf-cont {
  background-image: url("../img/call.svg");
  background-repeat: no-repeat;
  background-position: left center;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 400;
  font-size: 20px;
  color: #221108;
  padding-left: 30px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 31px; }

.foot-inf-mail {
  background-image: url("../img/sob.svg");
  background-repeat: no-repeat;
  background-position: left center;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 400;
  font-size: 20px;
  color: #221108;
  padding-left: 30px;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.foot-dw {
  background: #219653;
  padding-top: 13px;
  padding-bottom: 13px; }

.foot-dw-txt {
  font-weight: 400;
  font-size: 12px;
  color: #fbfffa;
  text-align: center;
  font-family: "Roboto", sans-serif; }

.content {
  font-family: "Roboto", sans-serif;
  font-size: 20px; }
  .content img {
    max-width: 100%;
    height: auto; }
  .content p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #221108;
    margin-bottom: 20px; }

.logs {
  float: left;
  margin-left: -630px;
  margin-right: 20px; }

@media only screen and (max-width: 1199px) {
  .contain {
    max-width: 930px; }
  .top-logo {
    width: 130px;
    margin-right: unset;
    margin-top: -18px;
    margin-bottom: 33px; }
  .top-inf {
    margin-left: 30px; }
  .top-inf-row {
    margin-bottom: 0px;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .sl-h {
    margin-bottom: 66px; }
  .sl-w {
    padding-top: 86px; }
  .top-inf-cont {
    font-size: 15px;
    min-height: 20px; }
  .top-inf-cont,
  .top-inf-mail {
    font-size: 20px;
    margin-right: unset; }
  .top-inf-mail {
    min-height: 20px; }
  .top-btn {
    padding-left: 21px;
    padding-right: 21px; }
  .top-lng-w {
    margin-left: unset; }
  .top-mn-row {
    margin-top: 0px;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .top-mn-ul {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
    .top-mn-ul li + li {
      margin-left: 0; }
  .top-2 {
    padding-bottom: 28px;
    padding-top: 45px; }
  .ab {
    padding-top: 84px;
    padding-bottom: 122px; }
  .ab-inf {
    margin-top: 61px; }
  .our-prod {
    padding-top: 80px; }
  .our-prod-it-img-w {
    height: 300px; }
  .our-prod-it-img {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .our-prod-it-txt {
    font-size: 24px; }
  .prod {
    padding-top: 80px;
    padding-bottom: 125px; }
  .prod-img-w {
    height: 156px; }
  .prod-txt {
    font-size: 22px; }
  .cert-it {
    height: 268px;
    width: calc(25% - 22.5px); }
    .cert-it img {
      max-width: 100%; }
  .foot-logo {
    width: 142px; }
  .foot-menu {
    margin-left: 33px; }
  .onl-app-lbl {
    width: 100%; }
  .foot-cont {
    margin-top: 19px; }
  .foot-menu-col + .foot-menu-col {
    margin-left: unset; }
  .foot-menu-col:nth-child(2) {
    margin-left: 63px; }
  .foot-menu-col:nth-child(3) {
    margin-left: 33px; }
  .prod-img-1 {
    max-width: 100%; }
  .prod-img-2 {
    max-width: 220px; }
  .prod-img-3 {
    max-width: 210px;
    top: -10px;
    left: -4px; }
  .prod-img-4 {
    max-width: 190px;
    right: -2px; }
  .prod-it-w {
    margin-top: 90px; }
  .cert {
    padding-bottom: 82px; }
  .foot-top {
    padding-top: 23px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  .contain {
    max-width: 690px; }
  .sl-btn {
    height: 70px;
    font-size: 18px; }
  .our-prod-it-img-w {
    margin-bottom: 20px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .contain {
    max-width: 600px; } }

@media only screen and (max-width: 640px) {
  .contain {
    max-width: 530px; } }

@media only screen and (max-width: 570px) {
  .contain {
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px; } }

@media only screen and (max-width: 320px) {
  body, body > * {
    width: auto;
    min-width: 320px; } }

@media only screen and (min-width: 1080px) {
  .main-mnu {
    display: block !important; }
  .hidden-mnu {
    display: none; } }

.show-320,
.show-360,
.show-480,
.show-570,
.show-640,
.show-992,
.show-1050,
.show-1199,
.show-768,
.show-1199 {
  display: none; }

@media (max-width: 1199px) {
  .show-1199 {
    display: block; }
  .hide-1199 {
    display: none; } }

@media (max-width: 1050px) {
  .show-1050 {
    display: block; }
  .hide-1050 {
    display: none; } }

@media (max-width: 992px) {
  .hide-992 {
    display: none; }
  .show-992 {
    display: block; } }

@media (max-width: 768px) {
  .show-768 {
    display: block; }
  .hide-768 {
    display: none; } }

@media (max-width: 640px) {
  .hide-640 {
    display: none; }
  .show-640 {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 570px) {
  .show-570 {
    display: block; }
  .hide-570 {
    display: none; } }

@media (max-width: 480px) {
  .show-480 {
    display: block; }
  .hide-480 {
    display: none; } }

@media (max-width: 360px) {
  .hide-360 {
    display: none; }
  .show-360 {
    display: block; } }

@media (max-width: 320px) {
  .hide-320 {
    display: none; }
  .show-320 {
    display: block; } }

.completed-slde-dots {
  position: absolute;
  left: 28px;
  bottom: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .completed-slde-dots li {
    font-size: 0;
    padding: 0;
    margin: 0;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    background: none;
    margin-left: 6px;
    margin-right: 6px;
    cursor: pointer; }
    .completed-slde-dots li:focus {
      outline: none; }
    .completed-slde-dots li:active {
      outline: none;
      background: none; }
  .completed-slde-dots .slick-active {
    border: 2px solid white;
    background-color: #ffffff; }

.nobrd {
  border: none; }

body.active {
  background: url("../img/1920.jpg") no-repeat top 0px center; }
  body.active .wrapper {
    opacity: 0.4; }
  body.active .footer {
    opacity: 0.4; }
  body.active .get {
    opacity: 0.4; }

.eye-3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #ccc;
  z-index: 100;
  border-radius: 50%; }

@media (max-width: 640px) {
  .help-call .measurer-form .btn {
    margin-top: 0; } }
